.flexRowContent--nav-mobile {
  background-color: #7300e0;
}

/* .flexColChild--nav-mobile-left{
  background-color: aliceblue;
  height: max-content;
} */

.flexRowContent--nav-desk {
  /* #6800c9 */
}

.flexRowContent--nav-desk--category {
  background-color: #6800c9;
}

.flexRowContent--nav-desk {
  justify-content: space-between;
  align-items: center;
}
.flexCol--nav-mobile-left{
  justify-content: center;
  align-items: center;
}
.flexColChild--nav-mobile-left{

}
