.minicartIconContainer::before {
  margin: 2px 6px 0 0;
  font-size: 40px;
  color: #fff;
  float: left;
  font-family: icomoon;
  content: "\f07a";
}

.cartIcon {
  display: none;
}

.openIconContainer {
  padding: 0%;
  width: min-content;
}

@media (max-width: 600px) {
  .minicartIconContainer::before{
    color: #6800c9;
  } 
  .openIconContainer :global(.vtex-button__label) {
    padding: 0%;
  }
}