.searchBarInnerContainer--desk {
  width: 50vw;
}
.searchIcon {
  color: #6800c9;
}
.logoContainer--navLogo {
  padding: 0%;
}

@media (max-width: 600px) {
  .searchIcon{
    display: none;
  }
}

::placeholder {
  color: #6800c9;
  text-align: center;
}

@media (max-width: 600px) {
  .searchBarInnerContainer--desk {
    width: 90%;
  }
  .searchBarContainer{
    display: flex;
    justify-content: center;
  }
}
